{% extends "index.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<style type="text/css" media="all">
  /* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

.contact-form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

</style>
<div class="contact-form-container">
    <form action="https://api.web3forms.com/submit" method="POST">

        <input type="hidden" name="access_key" value="1e791869-c71c-4dc1-85c4-100e664730e5">
        <center><h2>Cancel order</h2></center>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Vegetable:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="message">Phone Number:</label>
            <input type="Number" name="message" rows="5" required></input>
        </div>
        <button type="submit">Cancel</button>
    </form>
</div>
{% endblock content %}
