{% extends "index.html" %}
{% block title %}Vegetables-Stock {% endblock title %} 
{% block content %}
<body  style="background-color:#F5F5F5;">
<center><h1 class="display-8">Available Vegetables</h1></center>
{% for item in veg %}

<div class="cardc text-center bg-light" style="width: 18rem; display:inline-block;" >
    <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
    <br>
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <h5 class="card-title">Price/kg :{{item.price}}</h5>
    </div>
  </div>
</div>
{% endfor %}
</body>
{% endblock content %}